name: Build and Release APK

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libsdl2-dev \
            libsdl2-image-dev \
            libsdl2-mixer-dev \
            libsdl2-ttf-dev \
            libportmidi-dev \
            libswscale-dev \
            libavformat-dev \
            libavcodec-dev \
            zlib1g-dev \
            libgstreamer1.0-0 \
            libgstreamer1.0-dev \
            libmtdev-dev

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install buildozer cython p4a

      - name: Build APK
        run: |
          sudo apt-get install -y openjdk-11-jdk
          export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
          buildozer android release

      - name: Get APK file path
        id: get_apk_path
        run: |
          echo "apk_path=$(find bin -name '*.apk' | head -n 1)" >> $GITHUB_OUTPUT
      - name: Get APK file name
        id: get_apk_name
        run: |
          echo "apk_name=$(basename $(find bin -name '*.apk' | head -n 1))" >> $GITHUB_OUTPUT

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ${{ steps.get_apk_path.outputs.apk_path }}
          asset_name: ${{ steps.get_apk_name.outputs.apk_name }}
          asset_content_type: application/vnd.android.package-archive
