name: Build and Release IPA

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build-and-release-ios:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install buildozer cython

      - name: Build IPA
        run: |
          buildozer ios debug

      - name: Get IPA file path
        id: get_ipa_path
        run: echo "::set-output name=IPA_PATH::$(find bin -name '*.ipa' | head -n 1)"

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ${{ steps.get_ipa_path.outputs.IPA_PATH }}
          asset_name: weldertools.ipa
          asset_content_type: application/octet-stream
